<!-- partners.html -->
{% extends 'main/base1.html' %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h3 class="mb-0 font-size-18">Super Admin Dashboard</h3>
                </div>
            </div>
        </div> 

        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h3 class="mb-0 font-size-18">List of Donors</h3>
                </div>
                {% if donors %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for partner in donors %}
                            <tr>
                                <td>{{ partner.id }}</td>
                                <td>{{ partner.name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    
                {% else %}
                    <p>No partners available.</p>
                {% endif %}
                <div class="col-12 text-center">
                    <a href="{% url 'phc:create_donor' %}" class="btn btn-primary">Add Donor</a>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>
{% endblock content %}
