{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>PCNs | Primary Care Networks - Kenya</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'main/images/icon.png' %}" type="image/x-icon">
    

    <link rel="stylesheet" href="{% static 'main/css/custom_styles.css' %}" type="text/css">
    <script src="{% static 'invoice/js/jquery.min.js' %}"></script>
    <!-- App css -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'main/css/map.css' %}" type="text/css"> -->
    <link rel="stylesheet" href="{% static 'main/css/icons.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/theme.min.css' %}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <!-- Include Leaflet CSS and JavaScript -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Include Folium CSS and JavaScript -->
    <link rel="stylesheet" href="https://unpkg.com/folium@0.12.1/folium.css" />
    <script src="https://unpkg.com/folium@0.12.1/folium.js"></script>


</head>


<body>
    {% include 'main/includes/dashboard.html' %}
    {% include '../main/includes/messaging.html' %}
    
    {% block content %}
    
    {% endblock content %}
    {% include '../main/includes/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

    <!-- App js -->
    <script src="{% static 'main/js/theme.css' %}"></script>
    <script src="{% static 'main/js/car_form.js' %}"></script>
    <!-- <script src="{% static 'main/js/pages/chartjs-demo.js' %}"></script> -->
    <script src="{% static 'main/js/map.js' %}"></script>

    <script src="{% static 'main/js/jspdf.debug.js' %}"></script>
    <script src="{% static 'main/js/html2canvas.min.js' %}"></script>
    <script src="{% static 'main/js/html2pdf.min.js' %}"></script>
    <script>
        // JavaScript to toggle password visibility
        document.querySelectorAll('.toggle-password').forEach(function(icon) {
            icon.addEventListener('click', function() {
                var input = icon.closest('.input-group').querySelector('input');
                if (input.type === 'password') {
                    input.type = 'text';
                } else {
                    input.type = 'password';
                }
            });
        });
    </script>

<script>
    // Data for the pie chart (Partner Support)
    var partnerLabels = {{ partner_labels|safe }};
    var partnerCounts = {{ partner_counts|safe }};
    var partnerColors = ['#007BFF', '#FF5733']; // Blue for "With Partners," Red for "Without Partners"

    // Create the Chart.js pie chart for "Partner Support"
    Chart.register(ChartDataLabels);
    var ctxPartner = document.getElementById('partnerSupportPieChart').getContext('2d');
    var partnerSupportPieChart = new Chart(ctxPartner, {
        type: 'pie',
        data: {
            labels: partnerLabels,
            datasets: [{
                data: partnerCounts,
                backgroundColor: partnerColors,
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: true,
                position: 'right',
            },
            title: {
                display: true,
                text: 'Subcounties with/without Partners',
                position: 'bottom',
                fontSize: 16,
            },
            plugins: {
                datalabels: {
                    display: true, // Display labels on each section
                    color: 'white', // Color of the labels
                    font: {
                        size: 14 // Font size of the labels
                    },
                    formatter: function(value, context) {
                        return value + '%'; // Format the label to include a percentage sign
                    }
                }
            },
        }
    });
</script>


<script>
    // Data for the donut chart (Partner Summary)
    var partnerData = {{ partner_summery|safe }};
    
    // Extract partner names and percentages from the data
    var partnerNames = partnerData.map(function(item) { return item.name; });
    var partnerPercentages = partnerData.map(function(item) { return parseFloat(item.percentage); });
    
    // Colors for the donut chart
    var donutColors = ['#007BFF', '#FF5733', '#33FF49', '#FF33EC', '#33FFEC']; // Add more colors as needed
    
    // Create the Chart.js donut chart for "Partner Summary"
    Chart.register(ChartDataLabels);
    var ctxDonut = document.getElementById('partnerSummaryDonutChart').getContext('2d');
    var partnerSummaryDonutChart = new Chart(ctxDonut, {
        type: 'doughnut',
        data: {
            labels: partnerNames,
            datasets: [{
                data: partnerPercentages,
                backgroundColor: donutColors,
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: true,
                position: 'right',
            },
            title: {
                display: true,
                text: 'Partner Summary',
                position: 'bottom',
                fontSize: 16,
            },
            plugins: {
                datalabels: {
                    display: true, // Display labels on each section
                    color: 'white', // Color of the labels
                    font: {
                        size: 14 // Font size of the labels
                    },
                    formatter: function(value, context) {
                        return value + '%'; // Format the label to include a percentage sign
                    }
                }
            },
        }
    });
</script>



    <!-- Add this to your HTML template -->
    <script>
        var partnerSupportLabels = JSON.parse('{{ partner_support_labels|safe }}');
        var partnerSupportCounts = JSON.parse('{{ partner_support_counts|safe }}');
    
        // Define an array of custom color codes for each category
        var partnerSupportColors = [
            '#FF5733',   // Without Partner Support (Red)
            '#007BFF',   // With Partner Support (Blue)
        ];
    
        // Create the Chart.js bar graph
        var ctx = document.getElementById('partnerSupportChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: partnerSupportLabels,
                datasets: [{
                    label: 'Number of Subcounties',
                    data: partnerSupportCounts,
                    backgroundColor: partnerSupportColors,
                    borderColor: partnerSupportColors, // Use the same color for borders if needed
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>


<script>
    Chart.register(ChartDataLabels);
    var ctx = document.getElementById('county_status').getContext('2d');
    var subcountyStatusPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: JSON.parse('{{ status_labels|escapejs }}'), // Parse the JSON data from Django template
            datasets: [{
                data: JSON.parse('{{ status_percentages|escapejs }}'), // Parse the JSON data from Django template
                backgroundColor: [
                    '#FF5733',   // Not Started (Red)
                    '#FFC107' ,  // In Progress (Blue)
                    '#28A745',   // Fully Established (Green)
                    '#007BFF',   // Partner Support (Yellow)
                ],
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: true,
                position: 'right',
            },
            title: {
                display: true,
                text: 'Subcounty Status',
                position: 'bottom',
                fontSize: 16,
            },
            plugins: {
                datalabels: {
                    formatter: (value, context) => {
                        return value + '%'; // Format the label to include a percentage sign
                    },
                    color: '#fff', // Text color
                    anchor: 'end', // Position of the label relative to the data point (end for the end of the slice)
                    align: 'start', // Position of the label text relative to the anchor (start for the start of the label)
                },
            },
        }
    });
</script>


<script>
    var statusLabels = JSON.parse('{{ status_labels|safe }}');
    var statusCounts = JSON.parse('{{ status_counts|safe }}');

    // Define an array of custom color codes for each status
    var statusColors = [
        '#FF5733',   // Not Started (Red)
        '#FFC107',   // In Progress (Blue)
        '#28A745',   // Fully Established (Green)
    ];

    // Calculate percentages
    var total = statusCounts.reduce(function(sum, count) {
        return sum + count;
    }, 0);
    var percentages = statusCounts.map(function(count) {
        return ((count / total) * 100).toFixed(2) + '%';
    });

    // Create the Chart.js pie chart
    Chart.register(ChartDataLabels);
    var ctx = document.getElementById('statusPieChart').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: statusLabels,
            datasets: [{
                data: statusCounts,
                backgroundColor: statusColors
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: false // Hide the default legend
            },
            plugins: {
                datalabels: {
                    display: true, // Display labels on each section
                    color: 'white', // Color of the labels
                    font: {
                        size: 14 // Font size of the labels
                    },
                    formatter: function(value, context) {
                        var index = context.dataIndex;
                        return percentages[index];
                    }
                }
            },
            title: {
                display: true,
                text: 'Subcounty Status',
                position: 'bottom',
                fontSize: 16
            }
        }
    });
</script>

<script>
    var statusLabels = JSON.parse('{{ status_labels|safe }}');
    var statusCounts = JSON.parse('{{ status_counts|safe }}');

    // Define an array of custom color codes for each status
    var statusColors = [
        '#FF5733',   // Not Started (Red)
        '#FFC107',   // In Progress (Blue)
        '#28A745',   // Fully Established (Green)
    ];

    // Create the Chart.js bar chart
    Chart.register(ChartDataLabels);
    var ctx = document.getElementById('statusBarChart1').getContext('2d');
    var myBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: statusLabels,
            datasets: [{
                data: statusCounts,
                backgroundColor: statusColors
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: false // Hide the default legend
            },
            plugins: {
                datalabels: {
                    display: true, // Display labels on each bar
                    color: 'white', // Color of the labels
                    font: {
                        size: 14 // Font size of the labels
                    },
                    formatter: function(value, context) {
                        var index = context.dataIndex;
                        return percentages[index];
                    }
                }
            },
            scales: {
                y: {
                    beginAtZero: true, // Start the y-axis at zero
                    ticks: {
                        stepSize: 1 // Define the step size for the y-axis
                    }
                }
            },
            title: {
                display: true,
                text: 'Subcounty Status',
                position: 'bottom',
                fontSize: 16
            }
        }
    });
</script>


<script>
    // Data for the donut chart (Partner Data)
    var partnerData = {{ donor_partners|safe }};
    
    // Extract partner names and percentages from the data
    var partnerNames = partnerData.map(function(item) { return item.name; });
    var partnerPercentages = partnerData.map(function(item) { return parseFloat(item.percentage); });
    
    // Colors for the donut chart (you can customize these)
    var donutColors = ['#007BFF', '#FF5733', '#33FF49', '#FF33EC', '#33FFEC']; // Add more colors as needed
    
    // Create the Chart.js donut chart for "Partner Data"
    Chart.register(ChartDataLabels);
    var ctxDonut = document.getElementById('donorpartnersDonut').getContext('2d');
    var partnerDonutChart = new Chart(ctxDonut, {
        type: 'doughnut',
        data: {
            labels: partnerNames,
            datasets: [{
                data: partnerPercentages,
                backgroundColor: donutColors,
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: true,
                position: 'right',
            },
            title: {
                display: true,
                text: 'Partner Data',
                position: 'bottom',
                fontSize: 16,
            },
            plugins: {
                datalabels: {
                    display: true, // Display labels on each section
                    color: 'white', // Color of the labels
                    font: {
                        size: 14 // Font size of the labels
                    },
                    formatter: function(value, context) {
                        return value + '%'; // Format the label to include a percentage sign
                    }
                }
            },
        }
    });
</script>






<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#county-search').on('input', function() {
            // Get the search input value
            var searchValue = $(this).val().toLowerCase();

            // Filter the county list based on the search input
            $('#county-list tr').each(function() {
                var countyName = $(this).find('td:eq(1)').text().toLowerCase();
                if (countyName.includes(searchValue)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>



<script>
    var partnerLabels = JSON.parse('{{ partner_labels|escapejs }}');
    var partnerPercentages = JSON.parse('{{ partner_percentages|escapejs }}');

    // Create the Chart.js pie chart
    Chart.register(ChartDataLabels);
    var ctx = document.getElementById('partnerSupportPieChart').getContext('2d');
    var partnerSupportPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: partnerLabels,
            datasets: [{
                data: partnerPercentages,
                backgroundColor: ['#33FF45', '#FF5733'], // Define custom colors for "With Partners" and "Without Partners"
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: true,
                position: 'right',
            },
            title: {
                display: true,
                text: 'Subcounties with/without Partners',
                position: 'bottom',
                fontSize: 16,
            },
            plugins: {
                datalabels: {
                    display: true, // Display labels on each section
                    color: 'white', // Color of the labels
                    font: {
                        size: 14 // Font size of the labels
                    },
                    formatter: function(value, context) {
                        return value + '%'; // Format the label to include a percentage sign
                    }
                }
            },
        }
    });
</script>


<script>
    var ctx = document.getElementById('statusBarChart').getContext('2d');
    var subcountyStatusBarChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ status_labels|safe }}, // Use the labels directly from Django template
            datasets: [{
                label: 'Status Percentages',
                data: {{ status_percentages|safe }}, // Use the percentages directly from Django template
                backgroundColor: [
                    '#FF5733',   // Not Started (Red)
                    '#FFC107',   // In Progress (Blue)
                    '#28A745',   // Fully Established (Green)
                ],
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: false,
            },
            title: {
                display: true,
                text: 'Subcounty Status',
                position: 'top', // Position the title at the top of the chart
                fontSize: 16,
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        display: false,
                    },
                }],
                yAxes: [{
                    gridLines: {
                        display: false,
                    },
                    ticks: {
                        beginAtZero: true, // Start the y-axis at 0
                        callback: function(value) {
                            return value + '%'; // Add a percentage sign to the y-axis labels
                        },
                    },
                }],
            },
            plugins: {
                datalabels: {
                    anchor: 'end',
                    align: 'top',
                    color: '#000', // Text color
                    formatter: function(value, context) {
                        return value + '%'; // Display the value (percentage) on each bar
                    },
                },
            },
        }
    });
</script>

<script>
    var ctx = document.getElementById('statusLineChart').getContext('2d');
    var subcountyStatusBarChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ status_labels|safe }}, // Use the labels directly from Django template
            datasets: [{
                label: 'Status Percentages',
                data: {{ status_percentages|safe }}, // Use the percentages directly from Django template
                backgroundColor: [
                    '#FF5733',   // Not Started (Red)
                    '#FFC107',   // In Progress (Blue)
                    '#28A745',   // Fully Established (Green)
                ],
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: false,
            },
            title: {
                display: true,
                text: 'Subcounty Status',
                position: 'top', // Position the title at the top of the chart
                fontSize: 16,
            },
            scales: {
                xAxes: [{
                    gridLines: {
                        display: false,
                    },
                }],
                yAxes: [{
                    gridLines: {
                        display: false,
                    },
                    ticks: {
                        beginAtZero: true, // Start the y-axis at 0
                        callback: function(value) {
                            return value + '%'; // Add a percentage sign to the y-axis labels
                        },
                    },
                }],
            },
            plugins: {
                datalabels: {
                    anchor: 'end',
                    align: 'top',
                    color: '#000', // Text color
                    formatter: function(value, context) {
                        return value + '%'; // Display the value (percentage) on each bar
                    },
                },
            },
        }
    });
</script>

<script>
    var ctx = document.getElementById('partnerDonutChart').getContext('2d');
    
    // Parse the JSON data from Django template
    var partnersData = JSON.parse('{{ partners_with_subcounty_count_json|safe }}');

    // Extract Partner names and Subcounty counts
    var partnerNames = partnersData.map(function(partner) {
        return partner.name;
    });

    var subcountyCounts = partnersData.map(function(partner) {
        return partner.subcounty_count;
    });

    // Generate an array of dynamic colors based on the number of partners
    var dynamicColors = generateDynamicColors(partnerNames.length);

    var donutChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: partnerNames,
            datasets: [{
                data: subcountyCounts,
                backgroundColor: dynamicColors,
            }],
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: 'Partner Subcounty Counts',
                position: 'top',
                fontSize: 16,
            },
            legend: {
                display: true,
                position: 'right',
            },
            plugins: {
                datalabels: {
                    formatter: function(value, context) {
                        return value + '%';
                    },
                    color: '#fff',
                    anchor: 'end',
                    align: 'start',
                },
            },
        },
    });

    // Function to generate dynamic colors
    function generateDynamicColors(numColors) {
        var colors = [];
        for (var i = 0; i < numColors; i++) {
            var color = 'hsl(' + (i * 360 / numColors) + ', 100%, 50%)';
            colors.push(color);
        }
        return colors;
    }
</script>


<script>
    // Retrieve the JSON data from the context
    var barChartData = {{ bar_chart_data_json|safe }};
    
    // Get the canvas element
    var ctx = document.getElementById('subcountiesByStatusChart').getContext('2d');
  
    // Define custom colors
    var colors = ['red', '#f8ac5a', '#2ac14e'];
  
    // Create the bar chart
    var myBarChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: barChartData.labels,
        datasets: [{
          label: 'Implementation progress',
          data: barChartData.data,
          backgroundColor: colors,  // Use custom colors
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        },
        plugins: {
          datalabels: {
            anchor: 'end',
            align: 'top',
            font: {
              weight: 'bold'
            },
            formatter: function(value, context) {
              return value + '%';  // Format data labels to include a percentage sign
            }
          }
        }
      }
    });
  </script>



<!-- Add a canvas element for the donor pie chart -->

<script>
    // Retrieve the JSON data for donor data with percentages from the context
    var donorChartData = {{ donor_subcounty_data_json|safe }};

    // Get the canvas element for the donor pie chart
    var donorCtx = document.getElementById('donorPieChart').getContext('2d');

    // Create an array of custom colors for the donor pie chart (you can define more colors as needed)
    var donorColors = ['#2ac14e', '#f8ac5a', '#FF5733', '#3474E7', '#FFC300'];

    // Create the donor pie chart
    var donorPieChart = new Chart(donorCtx, {
        type: 'pie',
        data: {
            labels: donorChartData.map(function (data) {
                return data.name;  // Use donor names as labels
            }),
            datasets: [{
                data: donorChartData.map(function (data) {
                    return data.percentage;  // Use percentages as data values
                }),
                backgroundColor: donorColors,  // Use custom colors
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: true,
                    position: 'bottom', // Adjust the legend position as needed
                },
                datalabels: {
                    formatter: function (value, context) {
                        return value + '%';  // Format data labels to include a percentage sign
                    }
                }
            }
        }
    });
</script>




<script>
    // Parse the JSON data for the pie chart
    var pieChartData = JSON.parse('{{ pie_chart_data|escapejs }}');

    // Get the canvas element
    var ctx = document.getElementById('donorpartnerpiechart').getContext('2d');

    // Create the pie chart
    var statusPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: pieChartData.labels,
            datasets: [{
                data: pieChartData.data,
                backgroundColor: pieChartData.backgroundColor,
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: true,
                position: 'right',
            },
            title: {
                display: true,
                text: 'Subcounty Status Distribution',
                fontSize: 16,
            },
            plugins: {
                datalabels: {
                    display: true,
                    color: 'white',
                    font: {
                        size: 14
                    },
                    formatter: function(value, context) {
                        return value + '%';
                    }
                }
            },
        }
    });
</script>

  
</body>
</html>
