{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>PCNs | Primary Care Networks - Kenya</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'main/images/icon.png' %}" type="image/x-icon">
    

    <link rel="stylesheet" href="{% static 'main/css/custom_styles.css' %}" type="text/css">
    <script src="{% static 'invoice/js/jquery.min.js' %}"></script>
    <!-- App css -->
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}" type="text/css">
    <!-- <link rel="stylesheet" href="{% static 'main/css/map.css' %}" type="text/css"> -->
    <link rel="stylesheet" href="{% static 'main/css/icons.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'main/css/theme.min.css' %}" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
    <!-- Include Leaflet CSS and JavaScript -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Include Folium CSS and JavaScript -->
    <link rel="stylesheet" href="https://unpkg.com/folium@0.12.1/folium.css" />
    <script src="https://unpkg.com/folium@0.12.1/folium.js"></script>


</head>


<body>
    {% include 'main/includes/dashboard.html' %}
    {% include '../main/includes/messaging.html' %}
    
    {% block content %}
    
    {% endblock content %}
    {% include '../main/includes/footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>

    <!-- App js -->
    <script src="{% static 'main/js/theme.css' %}"></script>
    <script src="{% static 'main/js/car_form.js' %}"></script>
    <script src="{% static 'main/js/pages/chartjs-demo.js' %}"></script>
    <script src="{% static 'main/js/map.js' %}"></script>

    <script src="{% static 'main/js/jspdf.debug.js' %}"></script>
    <script src="{% static 'main/js/html2canvas.min.js' %}"></script>
    <script src="{% static 'main/js/html2pdf.min.js' %}"></script>
    <script>
        // JavaScript to toggle password visibility
        document.querySelectorAll('.toggle-password').forEach(function(icon) {
            icon.addEventListener('click', function() {
                var input = icon.closest('.input-group').querySelector('input');
                if (input.type === 'password') {
                    input.type = 'text';
                } else {
                    input.type = 'password';
                }
            });
        });
    </script>

<script>
    // Data for the pie chart (Partner Support)
    var partnerLabels = {{ partner_labels|safe }};
    var partnerCounts = {{ partner_counts|safe }};
    var partnerColors = ['#007BFF', '#FF5733']; // Blue for "With Partners," Red for "Without Partners"

    // Create the Chart.js pie chart for "Partner Support"
    var ctxPartner = document.getElementById('partnerSupportPieChart').getContext('2d');
    var partnerSupportPieChart = new Chart(ctxPartner, {
        type: 'pie',
        data: {
            labels: partnerLabels,
            datasets: [{
                data: partnerCounts,
                backgroundColor: partnerColors,
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: true,
                position: 'right',
            },
            title: {
                display: true,
                text: 'Subcounties with/without Partners',
                position: 'bottom',
                fontSize: 16,
            }
        }
    });
</script>


<script>
  var ctx = document.getElementById('partnerSupportPieChart').getContext('2d');
var partnerSupportPieChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: partnerLabels,
        datasets: [{
            data: partnerCounts,
            backgroundColor: partnerColors,
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
            display: true,
            position: 'right',
        },
        title: {
            display: true,
            text: 'Subcounties with/without Partners',
            position: 'bottom',
            fontSize: 16,
        },
        plugins: {
            datalabels: {
                formatter: (value, context) => {
                    return value + '%'; // Format the label to include a percentage sign
                },
                color: '#fff', // Text color
                anchor: 'end', // Position of the label relative to the data point (end for the end of the slice)
                align: 'start', // Position of the label text relative to the anchor (start for the start of the label)
            },
        },
    }
});

</script>

    

    <!-- Add this to your HTML template -->
    <script>
        var partnerSupportLabels = JSON.parse('{{ partner_support_labels|safe }}');
        var partnerSupportCounts = JSON.parse('{{ partner_support_counts|safe }}');
    
        // Define an array of custom color codes for each category
        var partnerSupportColors = [
            '#FF5733',   // Without Partner Support (Red)
            '#007BFF',   // With Partner Support (Blue)
        ];
    
        // Create the Chart.js bar graph
        var ctx = document.getElementById('partnerSupportChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: partnerSupportLabels,
                datasets: [{
                    label: 'Number of Subcounties',
                    data: partnerSupportCounts,
                    backgroundColor: partnerSupportColors,
                    borderColor: partnerSupportColors, // Use the same color for borders if needed
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>


<script>
    var statusLabels = JSON.parse('{{ status_labels|safe }}');
    var statusCounts = JSON.parse('{{ status_counts|safe }}');

    // Define an array of custom color codes for each status
    var statusColors = [
        '#FF5733',   // Not Started (Red)
        '#FFC107' ,  // In Progress (Blue)
        '#28A745',   // Fully Established (Green)
        '#007BFF',     // Partner Support (Yellow)
    ];

    // Create the Chart.js pie chart
    var ctx = document.getElementById('statusPieChart').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: statusLabels,
            datasets: [{
                data: statusCounts,
                backgroundColor: statusColors
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: true,
                position: 'right'
            },
            plugins: {
                datalabels: {
                    color: 'white', // Color of the figures
                    font: {
                        size: 12 // Font size of the figures
                    },
                    formatter: function(value, context) {
                        return value; // Display the value (count) on each section
                    }
                }
            },
            title: {
                display: true,
                text: 'Subcounty Status',
                position: 'bottom',
                fontSize: 16
            }
        }
    });
</script>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#county-search').on('input', function() {
            // Get the search input value
            var searchValue = $(this).val().toLowerCase();

            // Filter the county list based on the search input
            $('#county-list tr').each(function() {
                var countyName = $(this).find('td:eq(1)').text().toLowerCase();
                if (countyName.includes(searchValue)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    });
</script>


<script>
    var ctx = document.getElementById('statusPieChart').getContext('2d');
    var subcountyStatusPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: JSON.parse('{{ status_labels|escapejs }}'), // Parse the JSON data from Django template
            datasets: [{
                data: JSON.parse('{{ status_percentages|escapejs }}'), // Parse the JSON data from Django template
                backgroundColor: [
                    '#FF5733',   // Not Started (Red)
                    '#FFC107' ,  // In Progress (Blue)
                    '#28A745',   // Fully Established (Green)
                    '#007BFF',   // Partner Support (Yellow)
                ],
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: true,
                position: 'right',
            },
            title: {
                display: true,
                text: 'Subcounty Status',
                position: 'bottom',
                fontSize: 16,
            },
            plugins: {
                datalabels: {
                    formatter: (value, context) => {
                        return value + '%'; // Format the label to include a percentage sign
                    },
                    color: '#fff', // Text color
                    anchor: 'end', // Position of the label relative to the data point (end for the end of the slice)
                    align: 'start', // Position of the label text relative to the anchor (start for the start of the label)
                },
            },
        }
    });
</script>



<script>
    var ctx = document.getElementById('partnerSupportPieChart').getContext('2d');
    var partnerSupportPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: JSON.parse('{{ partner_labels|escapejs }}'), // Parse the JSON data from Django template
            datasets: [{
                data: JSON.parse('{{ partner_percentages|escapejs }}'), // Parse the JSON data from Django template
                backgroundColor: ['#33FF45', '#FF5733'], // Define custom colors for "With Partners" and "Without Partners"
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            legend: {
                display: true,
                position: 'right',
            },
            title: {
                display: true,
                text: 'Subcounties with/without Partners',
                position: 'bottom',
                fontSize: 16,
            },
            plugins: {
                datalabels: {
                    formatter: (value, context) => {
                        return value + '%'; // Format the label to include a percentage sign
                    },
                    color: '#fff', // Text color
                    anchor: 'end', // Position of the label relative to the data point (end for the end of the slice)
                    align: 'start', // Position of the label text relative to the anchor (start for the start of the label)
                },
            },
        }
    });
</script>


</body>
</html>
