{% extends 'main/base1.html' %}
{% load static %}

{% block content %}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h3 class="mb-0 font-size-18">Dashboard</h3>
                </div>
            </div>
        </div> 
        
        
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6 col-xl-2">
                <div class="card bg-secondary border-secondary">
                    <div class="card-body">
                        <div class="mb-4">
                            <h5 class="card-title mb-0 text-white">Total PCNs</h5>
                        </div>
                        <div class="row d-flex align-items-center mb-4">
                            <div class="col-6">
                                <h2 class="d-flex align-items-center text-white mb-0">
                                    {{ pcns }}
                                </h2>
                            </div>
                            <div class="col-6 text-right">
                                <span class="text-white-50">{{ pcns_with_percentage }} %</span>
                            </div>
                        </div>
    
                        <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                            <div class="progress-bar bg-light" role="progressbar" style="width: {{ pcns_with_percentage }}%;"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- end col-->
          <div class="col-md-6 col-xl-2">
              <div class="card bg-info border-info">
                  <div class="card-body">
                      <div class="mb-4">
                          <h5 class="card-title mb-0 text-white">Partner Support</h5>
                      </div>
                      <div class="row d-flex align-items-center mb-4">
                          <div class="col-6">
                              <h2 class="d-flex align-items-center text-white mb-0">
                                  {{ pcn_with_partners }}
                              </h2>
                          </div>
                          <div class="col-6 text-right">
                              <span class="text-white-50">{{ pcns_with_partners_percentage }} % </i></span>
                          </div>
                      </div>

                      <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                          <div class="progress-bar bg-light" role="progressbar" style="width: {{ pcns_with_partners_percentage }}%;"></div>
                      </div>
                  </div>
              </div>
          </div> <!-- end col-->

          <div class="col-md-6 col-xl-2">
              <div class="card bg-success border-success">
                  <div class="card-body">
                      <div class="mb-4">
                          <h5 class="card-title mb-0 text-white">Fully Established</h5>
                      </div>
                      <div class="row d-flex align-items-center mb-4">
                          <div class="col-6">
                              <h2 class="d-flex align-items-center text-white mb-0">
                                  {{ pcn_fully_established }}
                              </h2>
                          </div>
                          <div class="col-6 text-right">
                              <span class="text-white-50">{{ fully_established_percentage }} %</span>
                          </div>
                      </div>

                      <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                          <div class="progress-bar bg-light" role="progressbar" style="width: {{ fully_established_percentage }}%;"></div>
                      </div>
                  </div>
              </div>
          </div> <!-- end col-->
          <div class="col-md-6 col-xl-2">
            <div class="card bg-warning border-warning">
                <div class="card-body">
                    <div class="mb-4">
                        <h5 class="card-title mb-0 text-white">In Process</h5>
                    </div>
                    <div class="row d-flex align-items-center mb-4">
                        <div class="col-6">
                            <h2 class="d-flex align-items-center text-white mb-0">
                                {{ pcn_in_progress }}
                            </h2>
                        </div>
                        <div class="col-6 text-right">
                            <span class="text-white-50">{{ in_progress_percentage }} %</span>
                        </div>
                    </div>

                    <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                        <div class="progress-bar bg-light" role="progressbar" style="width: {{ in_progress_percentage }}%;"></div>
                    </div>
                </div>
            </div>
        </div> <!-- end col-->

        <div class="col-md-6 col-xl-2">
          <div class="card bg-danger border-danger">
              <div class="card-body">
                  <div class="mb-4">
                      <h5 class="card-title mb-0 text-white">Not Started</h5>
                  </div>
                  <div class="row d-flex align-items-center mb-4">
                      <div class="col-6">
                          <h2 class="d-flex align-items-center text-white mb-0">
                              {{ pcn_not_started }}
                          </h2>
                      </div>
                      <div class="col-6 text-right">
                          <span class="text-white-50"> {{ not_started_percentage }} %</span>
                      </div>
                  </div>

                  <div class="progress badge-soft-light shadow-sm" style="height: 7px;">
                      <div class="progress-bar bg-light" role="progressbar" style="width: {{ not_started_percentage }}%;"></div>
                  </div>
              </div>
          </div>
      </div> <!-- end col-->
      </div>
      <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center">Implementing Partner Summery</div>
                <div class="card-body">
                    <canvas id="partnerSupportPieChart" width="400" height="400"></canvas>

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center">
                    Implementation Progress
                </div>
                    <div class="card-body">
                        <canvas id="statusPieChart" width="400" height="400"></canvas>
                    </div>
            </div>
        </div>
    </div>
    <!-- end row-->
      <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                   <div class="row">
                    <div class="col-md-6">
                        <h4 class="card-title">PCNs ACTION</h4>
                        <p class="card-subtitle mb-4">
                            The table below summarizes the PCNs Progress in Kenya per County
                        </p>
                    </div>
                    <div class="col-md-6">
                        <form id="filter-form" method="GET" action="{% url 'main:dashboard' %}" class="form-inline">
                            <div class="form-group mb-2">
                                <input type="text" id="county-search" name="county-search" class="form-control" placeholder="Search by County Name">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <select id="county-filter" name="county-filter" class="form-control">
                                    <option value="">All Counties</option>
                                    {% for county in counties %}
                                    <option value="{{ county.id }}">{{ county.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mb-2">Filter</button>
                        </form>
                    </div>
                   </div>
            
                    <table id="complex-header-datatable" class="table table-bordered dt-responsive nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>County</th>
                                <th>Partner Support</th>
                                <th>In Progress</th>
                                <th>Fully Established</th>
                                <th>Not Started</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for county in page_counties %}
                            <tr>
                                <td>{{ county.id }}</td>
                                <td>{{ county.name }}</td>
                                <td>{{ county.partner_support }}</td>
                                <td>{{ county.in_progress }}</td>
                                <td>{{ county.fully_established }}</td>
                                <td>{{ county.not_started }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            
                    <div class="pagination pagination-sm">
                        <span class="step-links">
                            {% if page_counties.has_previous %}
                            <a href="?page=1" class="btn btn-primary">&laquo; First</a>
                            <a href="?page={{ page_counties.previous_page_number }}" class="btn btn-primary">Previous</a>
                            {% endif %}
            
                            <span class="current-page">{{ page_counties.number }}</span>
            
                            {% if page_counties.has_next %}
                            <a href="?page={{ page_counties.next_page_number }}" class="btn btn-primary">Next</a>
                            <a href="?page={{ page_counties.paginator.num_pages }}" class="btn btn-primary">Last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
            
                </div> <!-- end card body-->
            </div> <!-- end card -->
            
        </div><!-- end col-->
      
       
    </div>
    <!-- end row-->
<div class="row text-center">
    <div class="col-12" style="position: relative;">
        
        <!-- Include the SVG image here -->
        <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        width="100%" height="751.181px" viewBox="0 0 637.795 751.181" style="enable-background:new 0 0 637.795 751.181;"
        xml:space="preserve" style="position: relative; z-index:  !important;">
   <style type="text/css">
        #kitui {
            fill-rule: evenodd;
            clip-rule: evenodd;
            {% for county in counties %}
                {% if county.id == 1 %}
                    {% if county.status > 1 %}
                        fill: red;
                        
                    {% endif %}
                {% endif %}
            {% endfor %}
        }
       #laikipia{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;;}
       #machakos{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;;}
       #makueni{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #mandera{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #marsabit{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #meru{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #migori{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #mombasa{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #transzoia{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #narok{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #nyamira{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #taitataveta{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #siaya{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #samburu{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #turkana{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #nandi{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #tharakanithi{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #uasingishu{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #vihiga{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #wajir{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #westpokot{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #nakuru{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #kisumu{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #kisii{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #baringo{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #bomet{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #bungoma{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #busia{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #elgeyomarkwet{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #embu{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #garissa{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #homabay{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #isiolo{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #kajiado{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #kakamega{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #kericho{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #kilifi{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #lamu{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #muranga{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #kiambu{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #kirinyaga{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #nyeri{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #nairobi{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #nyandarua{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #tanariver{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       #kwale{fill-rule:evenodd;clip-rule:evenodd;fill:#FFFF00;}
       
       




       
       .st1{fill:none;stroke:#232323;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
       .st2{fill-rule:evenodd;clip-rule:evenodd;}
       .st3{fill:none;stroke:#000;stroke-width:0.5;stroke-linecap:square;stroke-linejoin:bevel;stroke-miterlimit:10;}
       .st4{fill-rule:evenodd;clip-rule:evenodd;fill:#00FF01;}
       .st5{fill-rule:evenodd;clip-rule:evenodd;fill:#008001;}
       .st6{fill-rule:evenodd;clip-rule:evenodd;fill:#01FFFC;}
       .st7{fill-rule:evenodd;clip-rule:evenodd;fill:#0E8DFF;}
       .st8{fill-rule:evenodd;clip-rule:evenodd;fill:#FF0007;}
       .st9{fill-rule:evenodd;clip-rule:evenodd;fill:#0006CA;}
       .st10{fill:none;stroke:#000000;stroke-miterlimit:10;}
       .st11{font-family:Liberation Sans,Arial,Sans-serif;}
       .st12{font-size:16px;}
       .st13{fill:#000;}
   </style>

   {% include '../main/includes/svg.html' %}
   </svg>
   

        <!-- Embed the map inside an iframe and position it behind the SVG using absolute positioning -->
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8171114.066776021!2d32.606563725676295!3d0.16492886256538883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182780d08350900f%3A0x403b0eb0a1976dd9!2sKenya!5e0!3m2!1sen!2ske!4v1694692733303!5m2!1sen!2ske" 
            style="border: 0; width: 100%; height: 100%; position: absolute; top: 0; left: 0; z-index: 0;"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
    </div>
</div>

    

    </div>
</div>
{% endblock content %}
